<div class="text-align-center">
    <h1>Stack MEAN. Course</h1>
    <p class="lead">
        MEAN refers to first letters of the four components of a free and open-source solution stack for building dynamic web sites. MEAN is a full-stack JavaScript platform designed for web applications. Valeri Karpov was a MongoDB developer at that time, who coined the MEAN stack term, and tells about it in one of his blog posts. The components of the MEAN stack are as follows:
    </p>
    <div class="row">
        <div class="col-md-3">
            <div class="rounded rounded-white">
                <h2>MongoDB</h2>
                <p>a NoSQL database</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded rounded-black">
                <h2>Express.js</h2>
                <p>a web applications framework</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded rounded-white">
                <h2>Angular.js</h2>
                <p>a JavaScript MVC framework for web apps</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded rounded-black">
                <h2>Node.js</h2>
                <p>a software platform for scalable server-side and networking applications</p>
            </div>
        </div>
    </div>
    <a href="http://en.wikipedia.org/wiki/MEAN" target="_blank">By Wikipedia</a>
</div>
